@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.login{
    font-size: 40px;
}

.bg-image{
    background-image: url();
    background-repeat: no-repeat;
    background-size:contain;
}

.ingrandire-link{
    font-size: 24px;
}

.logo{
    width: 100%;
}
.bg-logo{
    background-color: #1e1e1e;
}
.color{
    color: #f6e7d8;
    font-size: 20px;
    &:hover{
        color: #f14902;
    }
}
.width-link-logo{
    width: 15%;
}

.bg-orange{
    background-color: #f14902;
}
.card-training{
    background-color: #1e1e1e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.title-training, .text-training{
    color: #f6e7d8;
}
.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards{
    border: 2px solid #f14902;
    border-radius: 12px;
    &:hover{
        border: 2px solid #f6e7d8;
    }
}

h1{
    
    font-size: 70px;
}

.create-button{
    padding: 10px 15px;
    background-color: #1e1e1e;
    color: #f6e7d8;
    border: 2px solid black ;
    border-radius: 8px;
    &:hover{
        border: 2px solid black;
        background-color: #f6e7d8;
        color: #1e1e1e;
    }
}
.edit-button{
    padding: 7px 11px;
    background-color: #f6e7d8;
    color: #1e1e1e;
    border: 2px solid black ;
    border-radius: 8px;
    &:hover{
        border: 2px solid black;
        background-color: #f14902;
        color: #1e1e1e;
    }
}


// COLORI
.color-white{
    color: #f6e7d8;
}
.color-orange{
    color:#f14902
}
.color-black{
    color:#1e1e1e
}
.bg-color-white{
    background-color: #f6e7d8;
}
.bg-color-orange{
    background-color:#f14902
}
.bg-color-black{
    background-color:#1e1e1e
}


.durata{
    font-size: 45px;
}


.col7{
    width: calc(100% / 7);
}
.position-top{
    top: 50px;
}
.card-day{
    background-color: #f6e7d8;
}
.font-description{
    font-size: 18px;
}
.height-minima{
    min-height: 100vh;
}
.bg-modal{
    background-color: #f6e7d8;
}
.btn-modal-chiudi{
    background-color: #1e1e1e;
    color:#f6e7d8;
    &:hover{
        background-color: #1e1e1e;
        color: #f14902;
    }
}
.btn-modal-elimina{
    background-color: #f14902;
    color: #1e1e1e;
    &:hover{
        background-color: #f14902;
        color:#f6e7d8;
    }
}
.fa-trash-can{
    font-size: 20px;
    
}


.salva-button{
    padding: 10px 15px;
    background-color: #1e1e1e;
    color: #f6e7d8;
    border: 2px solid black ;
    border-radius: 8px;
    &:hover{
        border: 2px solid #f14902;
        background-color: #f14902;
        color: #1e1e1e;
    }
}
.btn-allenamento{
    background-color: #f14902;
    color:#1e1e1e;
    &:hover{
        background-color: #f14902;
        color:#f6e7d8;
    }
}

.input-bg{
    background-color: #f6e7d8;
    color: #1e1e1e;
}

.aggiungi-button{
    padding: 10px 15px;
    background-color: #f6e7d8;
    color: #1e1e1e;
    border: 2px solid black ;
    border-radius: 8px;
    &:hover{
        border: 2px solid black;
        background-color: #1e1e1e;
        color: #f6e7d8;
    }
}

label{
    font-size: 18px;
}

